@import url('https://fonts.google.com/specimen/Be+Vietnam+Pro');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;

}

header {
    background-color: #fff;
    color: #242E52;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 25px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 3px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
}

/*Estilos header---Realizado por Brenda-Karol*/
.cabeza {
    padding: 25px 0px 25px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.div-menu {
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, cursor 0.3s;
    /* Efecto de cambio de color y cursor */
    width: 100%;
}

.logo {
    flex: 0 0 auto;
    /* Evitando que el logo se estire */
}

.logo-sportit {
    width: 107.68px;
    height: 25px;
}

.cabeza-link {
    flex: 1;
    /* Ocupa el espacio restante en el header */
    display: flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, cursor 0.3s;
    /* Efecto de cambio de color y cursor */
}

.link-menu {

    color: #242E52;
    position: relative;
    transition: color 0.3s, cursor 0.3s;
    /* Efecto de cambio de color y cursor */
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: center;
    /* Centrando horizontalmente los elementos */
    align-items: center;
    /* Centrando verticalmente los elementos */
}

.link-menu:hover {
    color: gray;
    /* Cambiando el color al pasar el cursor */
    cursor: pointer;
    /* Cambiando el cursor a una manita */
}

.general {
    display: flex;
    width: 100%;
}

/*botón de contacto*/
.caja-contact-boton {
    display: flex;
    flex: 0 0 auto;
}

.boton-contact {
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    border: none;
    border-radius: 22px;
    /* Redondeando los bordes a la mitad de la altura */
    color: white;
    font-family: 'Be Vietnam';
    font-size: 13.18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Efecto de cambio de color */
    float: right;
}

.boton-contact:hover {
    background-color: #b290ee;
    /* Cambiando el color de fondo al pasar el cursor */
    color: rgb(181, 21, 186);
    /* Cambiando el color del texto al pasar el cursor */
}




/*Estilos caja 1-1*/
.jugador-texto {

    display: flex;

}

.caja-1-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}



.jugador img {

    width: 100%;
    height: auto;
}

.textos {
    margin-left: 100px;
}

.textos h1 {
    font-weight: bold;
    font-size: 50px;
    width: 450px;
    height: 228px;
    font-family: 'Be vietnam';
    text-align: right;
}

.textos p {
    width: 450px;
    height: 71px;
    font-family: 'Be vietnam';
    line-height: 157.1%;
    font-size: 16.56px;
    text-align: right;
}

.textos button {
    width: 134px;
    height: 44px;
    color: white;
    background-color: #8B48BF;
    border: none;
    border-radius: 60px;
    float: right;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Efecto de cambio de color */
}

.textos button:hover {
    background-color: #b290ee;
    /* Cambia el color de fondo al pasar el cursor */
    color: rgb(181, 21, 186);
    /* Cambia el color del texto al pasar el cursor */
}


/*Estilos caja 2*/


.caja-2 {
    background-color: #8B48BF;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    text-align: inherit;

}

.frase-diferencia {
    font-size: 36px;
    font-family: 'Be vietnam';
    font-weight: bold;
    width: 450px;
    padding: 40px 0px 40px 50px;
    margin-right: 0px;
}

.p-2 {
    font-size: 16px;
    font-family: 'Be vietnam';
    width: 450px;
    padding: 40px 0px 40px 50px;
    margin-left: 0px;
}


/*Estilos caja 3*/

/*Estilos de caja 3 y 4 (divs)---Realizado por Gustavo y Brenda Karol*/

.button-middle-480 {
    display: none !important;
}

.content-button-text {

    display: flex;
    justify-content: flex-end;
}

.button-middle {
    text-align: left;
    padding-right: 25px;

}

.text-caja3 {
    text-align: left;
    width: 90%;
}



.caja-4 {
    display: flex;
    justify-content: center;
}



.parrafos-c3y4 {
    display: flex;
    color: #B3B2B7;
    font-size: 16.13px;
    text-align: justify;
    width: 437px;
    height: 104px;
}

.parrafo-donec {
    margin-left: 50px;
}


.caja-3 {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.caja-4 {
    display: flex;
    justify-content: center;
    padding: 24px 455px 40px 455px;
}

.boton-numeros {

    font-size: 16px;
    width: 70px;
    height: 43px;
    border: none;
    border-radius: 60px;

    color: white;
    background-color: #8B48BF;
}

.parrafos-c3y4 {
    color: #B3B2B7;
    font-size: 16.13px;
    text-align: justify;
    width: 437px;
    height: 104px;
}

.parrafo-donec {
    margin-left: 50px;
}



/*Estilos CAJA BEST y su responsive---Realizado por Brenda Karol*/
.caja-best {
    font-family: 'Be Vietnam';
    display: flex;
    text-align: center;
    align-content: center;
    color: #242E53;
    font-size: 39.21px;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}

/*Estilo de los divs de caja-5---Realizado por Brenda Karol*/

.caja-5 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* Centrando el contenido verticalmente */
    align-content: center;

}

.contenedor-jugadores {
    display: flex;
    /* Alineando con flexbox los divs horizontalmente */
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    /* Centrando horizontalmente la página */
    justify-content: center;
    /*Centrando el grupo de 3 divs*/
}

.caja-izquierda {
    width: 445px;
    height: 259.48px;
    flex-shrink: 0;
    /* Evitando que el div se encoja cuando el espacio es limitado */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrando el contenido horizontalmente */
    justify-content: flex-start;
    /* Colocando el contenido en la parte superior */
    padding-top: 20px;
    /* Ajustando la separación entre la imagen y el borde superior */
}

.caja-media,
.caja-derecha {
    width: 445px;
    height: 254px;
    flex-shrink: 0;
    /* Evita que el div se encoja cuando el espacio es limitado */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrando el contenido horizontalmente */
    justify-content: flex-start;
    /* Colocando el contenido en la parte superior */
    padding-top: 20px;
    /* Ajustando la separación entre la imagen y el borde superior */
}

/*Estilos de cada avatar-imagen de cada div---Realizado por Brenda Karol*/
.avatar-sanyo,
.avatar-lebron,
.avatar-navarro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* Haciendo que la imagen sea circular */
    object-fit: cover;
    /* Ajustando el tamaño de la imagen */
    margin-bottom: 10px;
    /* Ajustando la separación entre la imagen y el contenido siguiente */
}

/*Estilos del nombre de cada jugador */
.nombre-sanyo,
.nombre-lebron,
.nombre-navarro {
    font-family: 'Be Vietnam';
    font-weight: bold;
    font-size: 16.07px;
    line-height: 156.6%;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 21px;
}

.etiam {
    font-family: 'Be Vietnam';
    font-size: 16px;
    line-height: 156.6%;
    text-align: center;
    margin-top: 21px;
    color: #B3B2B7;
    width: 100%;
}

/*Estilo del botón de la caja 5 (botón de More)---Realizado por Brenda karol*/
.boton-para-mas,
.caja-boton-mas {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-content: center;
}

.boton-more {
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    border: none;
    border-radius: 22px;
    /* Redondeando los bordes a la mitad de la altura */
    color: white;
    font-family: 'Be Vietnam';
    font-size: 13.18px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Efecto de cambio de color */
    margin-bottom: 150px;
}

.boton-more:hover {
    background-color: #b290ee;
    /* Cambia el color de fondo al pasar el cursor */
    color: rgb(181, 21, 186);
    /* Cambia el color del texto al pasar el cursor */
}

/*FOOTER*/
/* Estilos caja 6*/

.caja-6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 224px;
    justify-content: space-around;
    background-color: #8B48BF;
}

.textos-caja6 {
    width: 100%;
    height: 96px;
}

.footer-1 {
    display: flex;
    width: 1065px;
    height: 96px;
}

.textos-caja6 h2 {
    width: 393px;
    height: 96px;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Be vietnam';
    margin-top: 50px;
}

.caja-6 button {
    width: 134px;
    height: 44px;
    color: #8B48BF;
    background-color: white;
    border: none;
    border-radius: 60px;
    margin-right: 165px;
    margin-top: 70px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Efecto de cambio de color */

}

.caja-6 button:hover {
    background-color: black;
    /* Cambia el color de fondo al pasar el cursor */
    color: white;
    /* Cambia el color del texto al pasar el cursor */
}


/*Caja-7*/
.caja-7 {
    display: flex;
    background-color: black;
    width: 100%;
    height: 247px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    align-content: center;

}

.c7-sec1 {
    padding-left: 165px;
    padding-right: 165px;
    width: 1439px;
    height: 247px;
    display: flex;
    align-content: space-around;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.logos {
    height: 200px;
    width: 155px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.iconos {

    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 153.09px;
    height: 22.05px;
    margin-left: 170px;
}

.c7-sec1 a {
    display: flex;
    margin: 5px;
    border: none;
    width: 153px;
    height: 22.05px;

}

.img-logo {
    margin-left: 170px;
    width: 107.68px;
    height: 25px;
}

.footer-part2 {
    width: 450.69px;
    height: 141.14px;

    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 75px;
}

.footer-part2 ul {
    list-style: none;
}

.formulario {
    display: flex;
    flex-direction: row;
    width: 272.81px;
    height: 48.52px;
    margin-top: 50px;
    justify-content: space-between;
}

.formulario button {
    width: 63px;
    height: 42px;
    color: white;
    background-color: #8B48BF;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 13.18px;
    font-family: 'Be vietnam';
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Efecto de cambio de color */

}

.formulario button:hover {
    background-color: #b290ee;
    /* Cambia el color de fondo al pasar el cursor */
    color: rgb(181, 21, 186);
    /* Cambia el color del texto al pasar el cursor */
}

.form {
    width: 201px;
    height: 44px;
    color: #A0A0A0;
    border: none;
    border-radius: 50px;
    padding-left: 10px;
    font-size: 13.18px;
    font-family: 'Be vietnam';
}

.plagio {

    width: 213.85;
    height: 19.85;
}

.texto-h6 {
    width: 213.85px;
    height: 19.85px;
    color: #8C8C94;
    font-size: 12.5px;
    margin-left: 120px;
    margin-top: 60px;

}

.iconos nav {
    display: flex;
}

.copy {

    height: 141.14px;
    width: 272.81px;

}





/* responsive para parte desktop  todas la cajas  */


@media screen and (min-width:1440px) {
    body {
        font-family: 'Be Vietnam Pro';
        font-size: 16px;
    }

    header {
        background-color: #fff;
        color: #242E52;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 25px;
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggle span {
        width: 30px;
        height: 4px;
        background-color: #000;
        margin: 3px 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .menu li {
        margin: 0 15px;
    }

    .menu a {
        text-decoration: none;
    }

    /*Estilos header---Realizado por Brenda-Karol*/
    .cabeza {
        padding: 25px 0px 25px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .div-menu {
        display: flex;
        justify-content: center;
        text-decoration: none;
        position: relative;
        transition: color 0.3s, cursor 0.3s;
        /* Efecto de cambio de color y cursor */
        width: 100%;
    }

    .logo {
        flex: 0 0 auto;
        /* Evitando que el logo se estire */
    }

    .logo-sportit {
        width: 107.68px;
        height: 25px;
    }

    .cabeza-link {
        flex: 1;
        /* Ocupa el espacio restante en el header */
        display: flex;
        justify-content: center;
        text-decoration: none;
        position: relative;
        transition: color 0.3s, cursor 0.3s;
        /* Efecto de cambio de color y cursor */
    }

    .link-menu {

        color: #242E52;
        position: relative;
        transition: color 0.3s, cursor 0.3s;
        /* Efecto de cambio de color y cursor */
        padding: 0px 15px 0px 15px;
        display: flex;
        justify-content: center;
        /* Centrando horizontalmente los elementos */
        align-items: center;
        /* Centrando verticalmente los elementos */
    }

    .link-menu:hover {
        color: gray;
        /* Cambiando el color al pasar el cursor */
        cursor: pointer;
        /* Cambiando el cursor a una manita */
    }

    .general {
        display: flex;
        width: 100%;
    }

    /*botón de contacto*/
    .caja-contact-boton {
        display: flex;
        flex: 0 0 auto;
    }

    .boton-contact {
        width: 134px;
        height: 44px;
        background-color: #8B48BF;
        border: none;
        border-radius: 22px;
        /* Redondeando los bordes a la mitad de la altura */
        color: white;
        font-family: 'Be Vietnam';
        font-size: 13.18px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */
        float: right;
    }

    .boton-contact:hover {
        background-color: #b290ee;
        /* Cambiando el color de fondo al pasar el cursor */
        color: rgb(181, 21, 186);
        /* Cambiando el color del texto al pasar el cursor */
    }




    /*Estilos caja 1-1*/

    .caja-1-1 {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 100px;
    }

    .jugador {
        width: auto;
        height: auto;
    }

    .textos {
        margin-left: 100px;
    }

    .textos h1 {
        font-weight: bold;
        font-size: 50px;
        width: 450px;
        height: 228px;
        font-family: 'Be vietnam';
        text-align: right;
    }

    .textos p {
        width: 450px;
        height: 71px;
        font-family: 'Be vietnam';
        line-height: 157.1%;
        font-size: 16.56px;
        text-align: right;
    }

    .textos button {
        width: 134px;
        height: 44px;
        color: white;
        background-color: #8B48BF;
        border: none;
        border-radius: 60px;
        float: right;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */
    }

    .textos button:hover {
        background-color: #b290ee;
        /* Cambia el color de fondo al pasar el cursor */
        color: rgb(181, 21, 186);
        /* Cambia el color del texto al pasar el cursor */
    }


    /*Estilos caja 2*/


    .caja-2 {
        background-color: #8B48BF;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        text-align: inherit;

    }

    .frase-diferencia {
        font-size: 36px;
        font-family: 'Be vietnam';
        font-weight: bold;
        width: 450px;
        padding: 40px 0px 40px 50px;
        margin-right: 0px;
    }

    .p-2 {
        font-size: 16px;
        font-family: 'Be vietnam';
        width: 450px;
        padding: 40px 0px 40px 50px;
        margin-left: 0px;
    }


    /*Estilos caja 3*/

    /*Estilos de caja 3 y 4 (divs)---Realizado por Gustavo y Brenda Karol*/
    .caja-3 {
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .caja-4 {
        display: flex;
        justify-content: center;
    }

    .boton-numeros {
        display: flex;
        margin: 0px 10px 0px 50px;
        font-size: 16px;
        width: 70px;
        height: 43px;
        border: none;
        border-radius: 60px;
        padding: 10px 25px 10px 25px;
        color: white;
        background-color: #8B48BF;
    }

    .parrafos-c3y4 {
        display: flex;
        color: #B3B2B7;
        font-size: 16.13px;
        text-align: justify;
        width: 437px;
        height: 104px;
    }

    .parrafo-donec {
        margin-left: 50px;
    }


    .caja-3 {
        display: flex;
        justify-content: space-around;
        padding: 40px 153.5px 24px 153.5px;
    }

    .caja-4 {
        display: flex;
        justify-content: center;
        padding: 24px 455px 40px 455px;
    }

    .boton-numeros {
        margin: 0px 10px 0px 50px;
        font-size: 16px;
        width: 70px;
        height: 43px;
        border: none;
        border-radius: 60px;
        padding: 10px 25px 10px 25px;
        color: white;
        background-color: #8B48BF;
    }

    .parrafos-c3y4 {
        color: #B3B2B7;
        font-size: 16.13px;
        text-align: justify;
        width: 437px;
        height: 104px;
    }

    .parrafo-donec {
        margin-left: 50px;
    }



    /*Estilos CAJA BEST y su responsive---Realizado por Brenda Karol*/
    .caja-best {
        font-family: 'Be Vietnam';
        display: flex;
        text-align: center;
        align-content: center;
        color: #242E53;
        font-size: 39.21px;
        font-weight: bold;
        justify-content: center;
        width: 100%;
    }

    /*Estilo de los divs de caja-5---Realizado por Brenda Karol*/

    .caja-5 {
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        /* Centrando el contenido verticalmente */
        align-content: center;

    }

    .contenedor-jugadores {
        display: flex;
        /* Alineando con flexbox los divs horizontalmente */
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        /* Centrando horizontalmente la página */
        justify-content: center;
        /*Centrando el grupo de 3 divs*/
    }

    .caja-izquierda {
        width: 445px;
        height: 259.48px;
        flex-shrink: 0;
        /* Evitando que el div se encoja cuando el espacio es limitado */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrando el contenido horizontalmente */
        justify-content: flex-start;
        /* Colocando el contenido en la parte superior */
        padding-top: 20px;
        /* Ajustando la separación entre la imagen y el borde superior */
    }

    .caja-media,
    .caja-derecha {
        width: 445px;
        height: 254px;
        flex-shrink: 0;
        /* Evita que el div se encoja cuando el espacio es limitado */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrando el contenido horizontalmente */
        justify-content: flex-start;
        /* Colocando el contenido en la parte superior */
        padding-top: 20px;
        /* Ajustando la separación entre la imagen y el borde superior */
    }

    /*Estilos de cada avatar-imagen de cada div---Realizado por Brenda Karol*/
    .avatar-sanyo,
    .avatar-lebron,
    .avatar-navarro {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /* Haciendo que la imagen sea circular */
        object-fit: cover;
        /* Ajustando el tamaño de la imagen */
        margin-bottom: 10px;
        /* Ajustando la separación entre la imagen y el contenido siguiente */
    }

    /*Estilos del nombre de cada jugador */
    .nombre-sanyo,
    .nombre-lebron,
    .nombre-navarro {
        font-family: 'Be Vietnam';
        font-weight: bold;
        font-size: 16.07px;
        line-height: 156.6%;
        letter-spacing: -1px;
        text-align: center;
        margin-top: 21px;
    }

    .etiam {
        font-family: 'Be Vietnam';
        font-size: 16px;
        line-height: 156.6%;
        text-align: center;
        margin-top: 21px;
        color: #B3B2B7;
        width: 100%;
    }

    /*Estilo del botón de la caja 5 (botón de More)---Realizado por Brenda karol*/
    .boton-para-mas,
    .caja-boton-mas {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-content: center;
    }

    .boton-more {
        width: 134px;
        height: 44px;
        background-color: #8B48BF;
        border: none;
        border-radius: 22px;
        /* Redondeando los bordes a la mitad de la altura */
        color: white;
        font-family: 'Be Vietnam';
        font-size: 13.18px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */
        margin-bottom: 150px;
    }

    .boton-more:hover {
        background-color: #b290ee;
        /* Cambia el color de fondo al pasar el cursor */
        color: rgb(181, 21, 186);
        /* Cambia el color del texto al pasar el cursor */
    }

    /*FOOTER*/
    /* Estilos caja 6*/

    .caja-6 {
        display: flex;
        width: 100%;
        height: 224px;
        justify-content: space-around;
        background-color: #8B48BF;
    }

    .textos-caja6 {
        width: 100%;
        height: 96px;
    }

    .textos-caja6 h2 {
        width: 393px;
        height: 96px;
        color: #FFFFFF;
        text-align: left;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Be vietnam';

    }

    .caja-6 button {
        width: 134px;
        height: 44px;
        color: #8B48BF;
        background-color: white;
        border: none;
        border-radius: 60px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */

    }

    .caja-6 button:hover {
        background-color: black;
        /* Cambia el color de fondo al pasar el cursor */
        color: white;
        /* Cambia el color del texto al pasar el cursor */
    }


    /*Caja-7*/
    .caja-7 {
        display: flex;
        background-color: black;
        width: 100%;
        height: 247px;
        margin: 0 auto;
        padding: 20px;
        align-items: center;
        text-align: center;
        align-content: center;

    }

    .c7-sec1 {
        padding-left: 165px;
        padding-right: 165px;
        width: 1439px;
        height: 247px;
        display: flex;
        align-content: space-around;
        display: flex;
        margin: 0 auto;
        padding: 20px;
    }

    .logos {
        height: 200px;
        width: 155px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .iconos {

        display: flex;
        flex-direction: column;
        align-content: space-around;
        width: 153.09px;
        height: 22.05px;
        margin-left: 170px;
    }

    .c7-sec1 a {
        display: flex;
        margin: 5px;
        border: none;
        width: 153px;
        height: 22.05px;

    }

    .img-logo {
        margin-left: 170px;
        width: 107.68px;
        height: 25px;
    }

    .footer-part2 {
        width: 450.69px;
        height: 141.14px;

        color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        margin-left: 200px;
        margin-top: 50px;
        margin-bottom: 75px;
    }

    .footer-part2 ul {
        list-style: none;
    }

    .formulario {
        display: flex;
        flex-direction: row;
        width: 272.81px;
        height: 48.52px;
        margin-top: 50px;
        justify-content: space-between;
    }

    .formulario button {
        width: 63px;
        height: 42px;
        color: white;
        background-color: #8B48BF;
        border: none;
        border-radius: 50px;
        padding: 10px;
        margin-left: 10px;
        font-size: 13.18px;
        font-family: 'Be vietnam';
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */

    }

    .formulario button:hover {
        background-color: #b290ee;
        /* Cambia el color de fondo al pasar el cursor */
        color: rgb(181, 21, 186);
        /* Cambia el color del texto al pasar el cursor */
    }

    .form {
        width: 201px;
        height: 44px;
        color: #A0A0A0;
        border: none;
        border-radius: 50px;
        padding-left: 10px;
        font-size: 13.18px;
        font-family: 'Be vietnam';
    }

    .plagio {

        width: 213.85;
        height: 19.85;
    }

    .texto-h6 {
        width: 213.85px;
        height: 19.85px;
        color: #8C8C94;
        font-size: 12.5px;
        margin-left: 120px;
        margin-top: 60px;

    }

    .iconos nav {
        display: flex;
    }

    .copy {

        height: 141.14px;
        width: 272.81px;

    }

}



/* responsive para parte mobile  todas la cajas  */

@media screen and (max-width:480px) {




    /* menu */
    .menu-toggle {
        display: flex;


    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        width: 100%;

    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 15px 0;
    }

    .caja-1-1 {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 341.53px;
        margin-left: 40px;
        margin-top: 500px;
        margin-bottom: 10px;
        padding-top: 100px;
        align-content: space-around;
    }


    .jugador-texto {

        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }


    .jugador {
        width: 400px;
        height: 341.53px;

    }

    .textos {
        margin-top: 100px;
        margin-left: 25px;
        margin-right: 100px;
    }

    .textos h1 {
        font-weight: bold;
        font-size: 50px;
        width: 400px;
        height: 228px;
        font-family: 'Be vietnam';
        text-align: right;
    }

    .textos p {
        width: 400px;
        height: 71px;
        font-family: 'Be vietnam';
        line-height: 157.1%;
        font-size: 16.56px;
        text-align: right;
    }

    .textos button {
        width: 134px;
        height: 44px;
        color: white;
        background-color: #8B48BF;
        border: none;
        border-radius: 60px;
        float: right;
        margin-bottom: 700px;
    }




    /*ESTILOS CAJA 2 Y RESPONSIVE---(Realizado por Gustavo y Brenda Karol)*/
    /*Media querie caja2---Realizado por Gustavo y Brenda Karol*/


    .caja-2 {
        flex-direction: column;
        /* Cambia a disposición vertical en pantallas más pequeñas */
        min-height: auto;
        width: 100%;
        background-color: #3CDDF3 !important;
        color: rgb(255, 255, 255);

    }

    .division1,
    .division2 {
        flex-basis: 100%;
        /* Ocupando el 100% del ancho en pantallas más pequeñas */
        text-align: left;
    }


    .caja-3,
    .caja-4 {
        padding: 24px 16px;
        /* Ajustando el espaciado en dispositivos móviles */
        flex-direction: column;
        display: flex;
        align-content: center;
        text-align: center;
        align-items: center;

    }

    .title-h3-480 {
        display: inline-grid;
    }

    .button-middle-480 {
        display: inline !important;
    }

    .button-middle {
        display: none;
    }


    .parrafos-c3y4 {
        max-width: 100%;
        /* Ancho máximo para ajustarse al dispositivo */
        width: auto;
        /* Ajustar automáticamente el ancho */
        align-content: center;
        width: 100;
        align-items: center;
    }

    .frases {
        align-content: center;
        width: 100%;
        background-color: rgba(139, 72, 191, 0.3);
        /* 30% de opacidad */
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }



    .caja-best {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 39.21px;
        font-weight: bold;
    }



    /*  caja 5 */
    /*Media querie para los divs de jugadores---Realizado por Brenda Karol*/
    /* Estilos para dispositivos móviles (por ejemplo, ancho máximo de 768px) */
    /* Cambiamos la dirección de las cajas a columna */
    .caja-5 {
        display: flex;
        align-items: center;
        /* Centrando el contenido verticalmente */
        justify-content: center;
        /*Centrando el grupo de 3 divs*/
        width: 100%;
        align-content: center;
    }

    .contenedor-jugadores {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* Centrando el contenido verticalmente */
        justify-content: center;
        /*Centrando el grupo de 3 divs*/
        align-content: center;

    }

    /* Alineando el contenido al centro horizontalmente */
    .caja-izquierda,
    .caja-media,
    .caja-derecha {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    /* Ocultando las cajas caja-media y caja-derecha */
    .caja-media,
    .caja-derecha {
        display: none !important;
    }

    /* Estilos de caja-izquierda en dispositivos móviles */
    .caja-izquierda,
    .caja-media,
    .caja-derecha {
        width: 100%;
        /* Ocupa todo el ancho disponible */
        margin-bottom: 20px;
        /* Separación entre las cajas-izquierda */
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    /*Estilos de etiam*/
    .etiam {
        font-family: 'Be Vietnam';
        font-size: 16px;
        line-height: 156.6%;
        text-align: center;
        margin-top: 21px;
        color: #B3B2B7;
        width: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;

    }

    /* Mostramos el botón More en dispositivos móviles */
    .caja-boton-mas {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* Estilo del botón More en dispositivos móviles */
    .boton-more {
        width: 134px;
        height: 44px;
    }

    /* Estilos caja 6*/


    .caja-6 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 366px;
        background-color: #3CDDF3;
    }

    .textos-caja6 {
        width: 100%;
        height: 366px;
    }

    .footer-1 {
        display: flex;
        flex-direction: column;
        width: 484px;
        height: 366px;
    }

    .textos-caja6 h2 {
        width: 324px;
        height: 192px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Be vietnam';
        align-self: center;
        text-align: center;
        margin-left: 50px;
        margin-top: 20px;

    }

    .caja-6 button {
        width: 134px;
        height: 44px;
        color: #ffff;
        background-color: #232C50;
        border: none;
        border-radius: 60px;
        margin-left: 165px;
        margin-bottom: 100px;

        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Efecto de cambio de color */

    }

    .caja-6 button:hover {
        background-color: black;
        /* Cambia el color de fondo al pasar el cursor */
        color: white;
        /* Cambia el color del texto al pasar el cursor */
    }


    /* Estilos caja 7*/

    .caja-7 {
        background-color: black;
        width: 480px;
        height: 534.71px;

    }

    .c7-sec1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 50px;
        width: 100%;
        height: auto;
    }

    .c7-sec1 a {
        padding-left: 0px;
        border: none;
    }

    .logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;

    }

    .iconos nav {
        display: flex;
        width: 380px;
        height: 42.05;
        justify-content: space-between;
    }

    .logos .logo-principal {
        align-self: center;
        order: +1;


    }

    .img-logo {
        padding: 0px;
        margin: 0px;
        margin-left: 115px;

    }

    .iconos {
        flex-direction: row;
        width: 100%;
        height: 42px;
        margin-right: 200px;



    }


    .footer-part2 {
        width: 100%;
        height: 141.14px;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 0px;
        text-align: left
    }

    .listas2 {
        margin-left: 140px;

    }

    .footer-part2 ul {
        list-style: none;
    }

    .formulario {
        flex-direction: row;
        width: 100%;
        height: 68.52px;
        justify-content: flex-start;
        padding-top: 20px;
        padding-right: 40px;
        order: -2;
    }

    .formulario button {
        width: 63px;
        height: 42px;
        color: white;
        background-color: #8B48BF;
        border: none;
        border-radius: 50px;
        font-size: 13.18px;
        font-family: 'Be vietnam';
    }

    .form {
        width: 100%;
        height: 44px;
        color: #A0A0A0;
        border: none;
        font-size: 13.18px;
        font-family: 'Be vietnam';

    }

    .plagio p {
        color: #000;
    }

    .plagio {
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 213.85;
        height: 19.85;


    }

    .texto-h6-mobile {
        color: #8C8C94;
        font-size: 12.5px;
        padding: 0px;
        margin: 0px;
        margin-bottom: 80px;


    }


    .footer-part2 {
        order: -1;
    }


}